<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sansita" rel="stylesheet">
        <title>Contacts List</title>
    </head>
    <body>
        <img src="/tree_bg.jpg" id="hide-pic">

        <div class="container">

            <h1>My Address Book</h1>

            <div class="row">
                <div class="col-lg-5">
                    <div class="panel" id="add-form">
                        <div class="panel-body">
                            <h3>Add a contact:</h3>
                            <br><p class="required">* Required field</p>
                            <form action="/create_contact" method="post">
                                <div class="form-group has-feedback">
                                    <label for="first_name" class="control-label">First Name<span class="required">*</span>:</label>
                                    <input id="first_name" class="form-control" name="first_name" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name<span class="required">*</span>:</label>
                                    <input id="last_name" class="form-control" name="last_name" type="text">
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email" class="control-label">Email<span class="required">*</span>:</label>
                                    <div class="input-group has-success">
                                        <span class="input-group-addon">@</span>
                                        <input id="email" class="form-control" name="email" type="email">
                                    </div>
                                    <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="phone_number">Phone number:</label>
                                    <input id="phone_number" class="form-control" name="phone_number" type="number" max="9999999999" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="address">Street Address:</label>
                                    <input id="address" class="form-control" name="address" type="text">
                                </div>
                                <button class="btn" id="add-button" type="submit" name="add_new_contact_clicked">Add a Contact!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel" id="contacts-list">
                        <div class="panel-body">

                            <h3>Contacts List</h3>
                            {% if contacts is not empty %}
                            {% for contact in contacts %}

                            {% set counter = ( counter | default(0) ) + 1 %}
                            <div id="contact-display" class="{{ counter }}">
                                <ul>
                                    <li><h5>{{ contact.showFullName }}</h5>
                                    - <strong>Email</strong>: {{ contact.getEmail }}
                                    {% if contact.getPhoneNumber is not empty %}
                                    <br>- <strong>Phone Number</strong>: {{ contact.getPhoneNumber }}
                                    {% endif %}
                                    {% if contact.getAddress is not empty %}
                                    <br>- <strong>Address</strong>: {{ contact.getAddress }}
                                    {% endif %}
                                    <br><p></p>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <form action="/update-contact" method="post">
                                                <button type="submit" class="btn update-one-contact" name="update-{{ counter }}">Update Contact</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-2">
                                            <form action="/update-contact" method="post">
                                                <button type="submit" class="btn delete-one-contact" name="{{ counter }}" id="{{ contact.getFirstName }}-{{ contact.getLastName }}">Delete this contact</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-8">
                                        </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <br>
                            <form action="/delete_contact" method="post">
                                <button class="btn" id="delete-button" type="submit" name="delete_all_contacts_button_clicked">Clear All Contacts</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>Copyright (c) 2017 Erica Wright All Rights Reserved.</p>
        </footer>
    </body>
</html>
