<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sansita" rel="stylesheet">
        <title>Contacts List</title>
    </head>
    <body>
        <div class="container">
            <img src="/tree_bg.jpg" id="hide-pic">

            <h1>Contacts List</h1>

            <div class="panel">
                <div class="panel-body" id="add-entry">

                    {% if newcontact is not empty %}
                    <h3>Your contact has been created!</h3>
                    <div id="new-contact-box">
                        <h2>{{ newcontact.showFullName }}</h2>
                            <p><strong>Email</strong>: {{ newcontact.getEmail }}</p>
                            {% if newcontact.getPhoneNumber is not empty %}
                            <p><strong>Phone Number</strong>: {{ newcontact.getPhoneNumber }}</p>
                            {% endif %}
                            {% if newcontact.getAddress is not empty %}
                            <p><strong>Address</strong>: {{ newcontact.getAddress }}</p>
                            {% endif %}

                            {% set counter = ( counter | default(0) ) + 1 %}
                            {% set newcontact->uniqueID = {{ counter }} %}
                            <p>{{ newcontact.getUniqueID }}</p>
                        </div>
                    {% endif %}

                    {% if newcontact is empty %}
                    <h3>Your contact is not complete</h3>
                    <p>Please return to the main page and complete all required fields to add your contact.</p>
                    {% endif %}

                    <h4><a href="/">Click here</a> to return to the Contacts list page.</h4>
                </div>
            </div>
        </div>

        <footer class="footer-end">
            <p>Copyright (c) 2017 Erica Wright All Rights Reserved.</p>
        </footer>
    </body>
</html>
